<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Hoteles - @ViewBag.Title</title>
    <!-- Css -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", required: false)

</head>
<body>
    <!-- Cabezera -->
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            @Html.ActionLink("Hoteles.cl", "Inicio", "Inicio", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">@Html.ActionLink("Inicio", "Inicio", new { controller = "Inicio" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Categorias", "Inicio", new { controller = "Categoria" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Hoteles", "Inicio", new { controller = "Hotel" }, new { @class = "nav-link" })</li>
            </ul>
            </div>
        </nav>
    </header>

    <main role="main" class="container">
        <h2>@ViewBag.Title</h2>
        @if (TempData["Mensaje"] != null)
        {
            var message = (Hoteles.Models.Mensajes)TempData["Mensaje"];
            <div class="alert @message.Clase">
                <strong>@message.Titulo</strong>
                @message.Mensaje
            </div>
        }
        @RenderBody()
    </main>


    <footer class="footer">
        <div class="container">
            <span class="text-muted">&copy; @DateTime.Now.Year - Todos los derechos reservados.</span>
        </div>
    </footer>

    <!-- JavaScript -->
    <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script>
        $(function () {
            $('#fecha').datetimepicker({
                format: 'L',
                locale: 'es',
            });
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>